.frame3-container1 {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
 
.frame3-thq-frame3-elm {
  width: 100%;
  height: 884px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 0.10000000149011612);
}
 
.frame3-thq-now-playing-elm {
  top: 0px;
  left: 0px;
  width: 390px;
  display: flex;
  padding: 20px 16px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(13, 6, 12, 1);
}
 
.frame3-thq-main-container-elm {
  width: 358px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  background: linear-gradient(72deg, rgba(13, 6, 7, 0.9100000262260437) 0%, rgba(28, 16, 34, 0.9100000262260437) 100%);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) ;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: rgba(255, 255, 255, 0.28999999165534973);
  border-style: solid;
  border-width: 1px;
  border-radius: 48px;
  flex-direction: column;
  background-color: rgba(28, 16, 34, 0.8799999952316284);
}
 
.frame3-thq-top-navigation-elm {
  gap: 61.099998474121094px;
  display: flex;
  padding: 24px 24.020000457763672px 24px 24px;
  z-index: 1;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.frame3-thq-button-elm1 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px;
  justify-content: center;
}
 
.frame3-thq-container-elm1 {
  width: 12px;
  height: 7px;
}
 
.frame3-thq-heading2-elm {
  display: flex;
  opacity: 0.70;
  align-items: flex-start;
  flex-direction: column;
}
 
.frame3-thq-text-elm1 {
  color: rgba(248, 240, 251, 1);
  width: 108px;
  height: auto;
  font-size: 14px;
  font-style: Semi Bold;
  text-align: left;
  font-family: Inter;
  font-weight: 700;
  line-height: 20px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame3-thq-button-elm2 {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  border-radius: 9999px;
  justify-content: center;
}
 
.frame3-thq-container-elm2 {
  width: 4px;
  height: 16px;
}
 
.frame3-thq-album-artwork-elm {
  height: 393.0625px;
  display: flex;
  padding: 16px 32px;
  z-index: 2;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.frame3-thq-overlay-shadow-elm {
  display: flex;
  overflow: hidden;
  align-self: stretch;
  box-shadow: 2px 22px 42.70000076293945px 9px rgba(23, 5, 31, 0.49000000953674316) ;
  align-items: center;
  border-radius: 32px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(197, 198, 204, 0.0020000000949949026);
}
 
.frame3-thq-background-elm {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
  background-color: rgba(124, 22, 78, 0.8700000047683716);
}
 
.frame3-thq-track-info-elm {
  gap: 4px;
  display: flex;
  padding: 16px 32px 0;
  z-index: 3;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.frame3-thq-heading1-elm {
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.frame3-thq-text-elm2 {
  color: rgba(249, 240, 251, 1);
  width: 166px;
  height: auto;
  font-size: 24px;
  font-style: Bold;
  text-align: center;
  font-family: Inter;
  font-weight: 700;
  line-height: 32px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame3-thq-container-elm3 {
  display: flex;
  opacity: 0.80;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.frame3-thq-text-elm3 {
  color: rgba(197, 198, 204, 1);
  width: 145px;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: center;
  font-family: Inter;
  font-weight: 500;
  line-height: 24px;
  font-stretch: normal;
  text-decoration: none;
}
 
.frame3-text1 {
  display: inline-block;
}
 
.frame3-text2 {
  display: inline-block;
}
 
.frame3-link {
  display: contents;
}
 
.frame3-container2 {
  right: 50px;
  border: 1px solid #ffffff5c;
  bottom: 30px;
  display: flex;
  z-index: 22;
  position: fixed;
  box-shadow: 5px 5px 10px 0px rgba(31, 31, 31, 0.4);
  min-height: auto;
  align-items: center;
  padding-top: 8px;
  padding-left: 12px;
  border-radius: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  backdrop-filter: blur(6px);
  background-color: rgba(41, 41, 41, 0.41);
}
 
.frame3-icon1 {
  width: 24px;
  margin-right: 4px;
}
 
.frame3-text3 {
  color: white;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
 
@media(max-width: 479px) {
  .frame3-thq-heading2-elm {
    width: 85px;
  }
  .frame3-thq-text-elm1 {
    color: rgb(248, 240, 251);
    width: 108px;
    height: auto;
    font-size: 14px;
    text-align: left;
    font-family: Inter;
    font-weight: 700;
    line-height: 20px;
    font-stretch: normal;
    text-decoration: none;
  }
}
