.main-controls-thq-main-controls-elm {
  gap: 46px;
  display: flex;
  padding: 32px 76px;
  z-index: 5;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
}
 
.main-controls-thq-container-elm {
  width: 20px;
  height: 20px;
}
 
.main-controls-thq-button-elm1 {
  width: 74px;
  height: 74px;
  box-shadow: 0px 5px 13.100000381469727px 0px rgba(14, 3, 10, 1) ;
}
 
.main-controls-thq-button-elm2 {
  width: 19px;
  height: 20px;
  opacity: 0.80;
}
