.progress-bar-thq-progress-bar-elm {
  gap: 12px;
  width: 358px;
  height: 66px;
  display: flex;
  padding: 32px 32px 0;
  z-index: 4;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.progress-bar-thq-background-elm1 {
  top: 34px;
  left: 32px;
  width: 294px;
  height: 6px;
  display: flex;
  overflow: hidden;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 9999px;
  background-color: rgba(123, 22, 78, 0.5699999928474426);
}
 
.progress-bar-thq-background-elm2 {
  top: 0px;
  left: 0px;
  width: 109px;
  height: 6px;
  position: absolute;
}
 
.progress-bar-thq-container-elm1 {
  gap: 244.02000427246094px;
  top: 50px;
  left: 32px;
  width: 294px;
  height: 16px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
  justify-content: space-between;
}
 
.progress-bar-thq-container-elm2 {
  height: 16px;
  display: flex;
  opacity: 0.50;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.progress-bar-thq-text-elm1 {
  color: rgba(249, 240, 251, 1);
  width: 24px;
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.progress-bar-thq-container-elm3 {
  height: 16px;
  display: flex;
  opacity: 0.50;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
 
.progress-bar-thq-text-elm2 {
  color: rgba(249, 240, 251, 1);
  width: 26px;
  height: auto;
  font-size: 12px;
  font-style: Medium;
  text-align: left;
  font-family: Inter;
  font-weight: 500;
  line-height: 16px;
  font-stretch: normal;
  text-decoration: none;
}
 
.progress-bar-thq-progress-handle-visualindicator-elm {
  top: 30px;
  left: 133.4499969482422px;
  width: 14px;
  height: 14px;
  display: flex;
  position: absolute;
  box-shadow: 3px 0px 4px 0px rgba(0, 0, 0, 0.6399999856948853) ;
  align-items: flex-start;
  border-radius: 9999px;
  background-color: rgba(167, 111, 163, 1);
}
 
.progress-bar-thq-progress-handle-visualindicatorshadow-elm {
  top: 0px;
  left: 0px;
  width: 14px;
  height: 14px;
  position: absolute;
  border-radius: 9999px;
}
 
.progress-bar-text1 {
  display: inline-block;
}
 
.progress-bar-text2 {
  display: inline-block;
}
